.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap : 1em;
}


@media screen and (max-width : 650px) {
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width : 500px) {
  .grid{
    grid-template-columns: 1fr;
  }
}
